.Header {
  height: 60vh;
  color: #fff;
  font-size: 3rem;
  background-image: url("../../assets/imgs/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
